.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 4px;
}

.itemTitle {
  font-family: var(--sans);
  font-size: 13px;
  font-weight: 700;
  color: var(--text-h);
}

.itemDescription {
  font-family: var(--sans);
  font-size: 12px;
  line-height: 145%;
  color: var(--text-muted);
}
